microdados
microdados\datazoom\pmenova\pmenova\pmenova2002.dta
microdados\datazoom\pmenova\2003_dz.csv
microdados\datazoom\pmenova\2004_dz.csv
microdados\datazoom\pmenova\2005_dz.csv
microdados\datazoom\pmenova\2006_dz.csv
microdados\datazoom\pmenova\2007_dz.csv
microdados\datazoom\pmenova\2008_dz.csv
microdados\datazoom\pmenova\2009_dz.csv
microdados\datazoom\pmenova\2010_dz.csv
microdados\datazoom\pmenova\2011_dz.csv
microdados\datazoom\pmenova\2012_dz.csv
microdados\datazoom\pmenova\2013_dz.csv
microdados\datazoom\pmenova\2014_dz.csv
microdados\datazoom\pmenova\2015_dz.csv
microdados\datazoom\pmenova\pmenova\pmenova2002.dta
microdados\datazoom\pmenova\pmenova\pmenova2003.dta
microdados\datazoom\pmenova\pmenova\pmenova2004.dta
microdados\datazoom\pmenova\pmenova\pmenova2005.dta
microdados\datazoom\pmenova\pmenova\pmenova2006.dta
microdados\datazoom\pmenova\pmenova\pmenova2007.dta
microdados\datazoom\pmenova\pmenova\pmenova2008.dta
microdados\datazoom\pmenova\pmenova\pmenova2009.dta
microdados\datazoom\pmenova\pmenova\pmenova2010.dta
microdados\datazoom\pmenova\pmenova\pmenova2011.dta
microdados\datazoom\pmenova\pmenova\pmenova2012.dta
microdados\datazoom\pmenova\pmenova\pmenova2013.dta
microdados\datazoom\pmenova\pmenova\pmenova2014.dta
microdados\datazoom\pmenova\pmenova\pmenova2015.dta
microdados\datazoom\pmeantiga\pmeantiga\PME2000P.dta